Brlapi==0.6.1
Django==1.9.2
Pillow==2.3.0
PyICU==1.5
PyJWT==1.4.0
Pygments==2.1
apt-clone==0.2.1
chardet==2.2.1
colorama==0.2.5
command-not-found==0.3
defer==1.0.6
defusedxml==0.4.1
dirspec==13.10
dj-database-url==0.4.0
dj-static==0.0.6
django-allauth==0.25.2
django-social-auth==0.7.28
django-toolbelt==0.0.1
gunicorn==19.4.5
html5lib==0.999999999
httplib2==0.8
louis==2.5.3
lxml==3.3.3
matplotlib==1.3.1
nose==1.3.1
numpy==1.8.2
oauth2==1.9.0.post1
oauthlib==1.0.3
oneconf==0.3.7.14.04.1
pandas==0.13.1
pexpect==3.1
piston-mini-client==0.7.5
psycopg2==2.6.1
pudb==2015.4.1
pycrypto==2.6.1
pycurl==7.19.3
pygobject==3.12.0
pyparsing==2.0.1
python-apt==0.9.3.5ubuntu1
python-dateutil==2.0
python-debian==0.1.21-nmu2ubuntu2
python-openid==2.2.5
python-social-auth==0.2.14
python3-openid==3.0.9
pytz==2012c
pyxdg==0.25
reportlab==3.0
requests==2.2.1
requests-oauthlib==0.6.1
six==1.5.2
static3==0.6.1
thin-client-config-agent==0.8
tornado==3.1.1
twython==3.3.0
ubuntu-drivers-common==0.0.0
ufw==0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.7.1
urwid==1.3.1
virtkey==0.63.0
xkit==0.0.0
xlrd==0.9.4
